.header {
    width: 100%;
    height: 90px;
    background: blue;
    
}

.delvisual {
    width: 100%;
    background-color: #60ae2b;
    margin-bottom: 50px;
}


.deltitle1 {
    margin: 0 auto;
    height: 310px;
    position: relative;
    width: 1062px;
    text-align: center;
    background: url(../img/deltitle.jpg)
}

.deltitle1 > .sub_deltitle1 > p{
    margin: 0;
    padding-top: 100px;
    color: #fff;
    font-size: 36px;
    font-style:italic;
    font-weight: bold;
}

.mainbox {
    width: 900px;
    margin: 0 auto;
    min-height: 500px;
}

.mainbox fieldset {
    height: 300px;
    border: 1px solid  rgb(100, 167, 11);
    display: flex;
    flex-direction: column;
}

fieldset p {
    text-align: center;
    
}

fieldset .deliveryLink {
    margin: 0 auto;
    padding-top: 10px;
    word-spacing: 40px;
    flex-direction: row;

}

.order_btn {
    position: relative;
    width: 400px;
    line-height: 3;
    border: 0px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.order_btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

fieldset legend {
    background-color: rgb(100, 167, 11);
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 2em;
}

.deltitle2 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.deltitle2_underline {
    width: 100px;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    background-color: #60ae2b;
}

.delbox {
    width: 100%;
    text-align: center;
}

.footer {
    float: left;
    width: 100%;
    height: 400px;
    background-color: #1d1d1d;
}

